.performanRaadar{
border-radius: 10px;
display: flex;
align-items: center;
background-color:#282D30;
height: 265px;
width: 258px;
margin-right: 10px;
margin-top: 6px;
}

@media (min-width: 1024px) and (max-width: 1366px) {

    .performanRaadar{
        height: 265px;
    
        }
        


}


