.aside {

    height: 91.1vh; 
    width: 117px; 
    background-color: #020203;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.aside-nav img {
    margin: 10px 0; 
    width: 64px; 
    cursor: pointer;
display: flex;
}

.copyright{
    font-size:12px;
color: white;
transform: rotate(-90deg);
width: 250px;
font-weight: 500;
margin-top: 200px;

}

@media (min-width: 1024px) and (max-width: 1366px) {

    .aside {

        height: 92.3vh; 
        width: 50px; 
        background-color: #020203;

    
    }

    .aside-nav img {
        margin: 10px 0; 
        width: 30px; 
        cursor: pointer;
    }
    .copyright{
        font-size:10px;
    color: white;
    transform: rotate(-90deg);
    width: 150px;
    font-weight: 500;
    margin-top: 200px;
    }


}