


.red-name{color:#ff0101;}

.congratulation-text{
font-size: 18px;
font-weight: 400;

}

.Stats-body{
    margin-left: 100px;
margin-bottom: 0px;
}
.hello-text{
font-size: 48px;
font-weight: 500;


}
.flex-perf{
    
    width: 1300px;
    display: flex;
padding-left: 10px;


}
.performance{display: flex;

}
.error-message{
font-size: 35px;
display: flex;
justify-content: center;
align-items: center;
}
.Lower-Body{
display: flex;

}
@media (min-width: 1024px) and (max-width: 1366px) {

   .flex-perf{
width: 800px;

   }
   .Stats-body{
    margin-left: 0px;
margin-bottom: 0px;
}
    .hello-text{
        font-size: 35px;
        line-height: 0.2;
        
    }
    .congratulation-text{
        font-size: 15px;

    }

}